.Service p{
    text-align: center;
    margin-top: 10px;
}

.items{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
}

.items img{
    /* border: 1px solid silver; */
    box-shadow: 0px 0px 3px silver;
    width: 50vw;
    padding: 25px;
    height: 150px;
}