.Service p{
    text-align: center;
    margin-top: 10px;
}

.items{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
}

.items img{
    /* border: 1px solid silver; */
    box-shadow: 0px 0px 2px rgb(216, 216, 216);
    width: 50vw;
    padding: 25px;
    height: 150px;
}

@media only screen and (min-width: 500px)
{
    /* All Service in Main Page. */
    .Service .items{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;

    }
    .Service .items img{
        width: auto;
    }

    .Service .items img:hover{
        /* box-shadow: 0px 0px 30px #d4d1d1; */
        /* box-shadow: inset -3px -3px 5px #ffffff70, inset 3px 3px 5px #99969670;  */
        /* background-color: #fff; */
        /* border-radius: 7px; */
        
        /* neomorphism css */
        border-radius: 34px;
        background: linear-gradient(145deg, #e1e1e1, #ffffff);
        box-shadow:  13px 13px 26px #d5d5d5, 
             -13px -13px 26px #ffffff;
    }

}