.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  line-height: 35px;
  box-shadow: 0px 0px 10px gray;
  border-top: 5px solid #028f7c;
}

.toolbar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
}

.leftSide{
  position: relative;
  top: 7px;
}

.leftSide img{
  width: 75px;
  height: 35px;
}

.toolbar__logo p{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items p{
  color: white;
  text-decoration: none;
  
}

.toolbar_navigation-items img{
  width: 40px;
  height: 40px;
}

.toolbar_navigation-items Link:hover,
.toolbar_navigation-items Link:active {
  color: #fa923f;
}
