.Partner{
    display: flex;
    justify-content: center;
    z-index: -1;
}

.partnerForm{
    margin: 10px;
    background-color: #f7e9f7;
    padding: 20px 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 30px silver;
}

.Partner{
    background-image: url('../../../components/Main/img/bodyBg.jpg');
    background-attachment: fixed;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
}

.profileImg{
    background-color: rgb(84, 170, 4);
    padding-bottom: 10px;
    color: #ffffff;
}

.profileImg img{
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.partnerDetails .detail {
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px silver;
    border-top: 2px solid rgba(134, 134, 134, 0.993);
    margin: 10px;
}

.partnerDetails .detail p{
    padding: 5px;
}

.partnerDetails .detail p:first-child{
    border-bottom: 1px solid gray;
    opacity: 0.7;
    font-style: italic;
}

.partnerDetails .detail p:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

@media only screen and (min-width: 500px)
{
    /* editProfile.js */
    .EditProfile{
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    /* partnerProfile.js */
    .profileImg img{
        width: 8%;
    }

    .partnerDetails {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .partnerDetails .detail {
        width: 30vw;
    }

}