#banner{
    background-image: url('./img/mhome2.jpg');
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: none;
}
#banner h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
}

/* #main{
    background-image: url('./img/bodyBg.jpg');
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

#main{
    background-color: #faf2fa;
    height: 100vh;
}

@media only screen and (min-width: 500px)
{
    #banner{
        background-image: url('./img/home2.jpg');
    }
}